
# next-to-add
/front-end/src/components
/front-end/src/pages
/todo.txt

# librarys
/front-end/node_modules/
/front-end/vite.config.js/
/front-end/tailwind.config.js
/front-end/postcss.config.js
/front-end/package-lock.json

# server-side
/server
/front-end/.env